{%extends "base.html"%}
{%block content%}
<h2 class='text-primary mb-2'>Static Volumns</h2>
<!-- A form to mount static module  -->
<div class="mt-5">
    <form action="" method="get">
        <ul class="list-group">
            <li class="list-group-item form-control-group">
                <label>Volumn Name </label>
                <input type="text" name="slug" class="form-control">
            </li>
            <li class="list-group-item form-control-group">
                <label>Root Path </label>
                <input type="text" name="root_path" placeholder="Local path" class="form-control">
            </li>
            <li class="list-group-item form-control-group">
                <label>Markdown Documentation </label>
                <input type="text" name="md_doc" placeholder="Markdown Documentation" class="form-control">
            </li>
            <li class="list-group-item">
                <button class="btn btn-primary">
                    Mount Static Volumn
                </button>
            </li>
        </ul>
    </form>
</div>

<!-- A list of mounted modules -->
<div class="mt-5">
    <h3 class="text-warning">Mounted Volumns</h3>
    <ul class="list-group">
        {%for i in obj%}
        <li class="list-group-item">
            <h4>{{i.slug}}</h4>
            <pre>{{i.root_path}}</pre>
            <div class="btn-group">
                <a href="/static/dirpage/{{i.slug}}/" class="btn btn-warning">Visit Folder</a>
                <a href="/static/delete/{{i.slug}}" class="btn btn-danger">Delete</a>
            </div>
        </li>
        {%endfor%}
    </ul>
</div>
{%endblock%}

{%block tail_js%}
<script></script>

{%endblock %}